.profile-image-container {
  background-color: white;
  width: 250px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 250px; /* Ajusta el tamaño del círculo según tus necesidades */
  border-radius: 50%; /* Esto crea la forma circular */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del círculo */
  margin: 0 auto; /* Centra el círculo horizontalmente en su contenedor */
  margin-top: 50px;
  margin-bottom: 30px;
}

.profile-image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del círculo */
  height: 100%; /* Ajusta la altura de la imagen al 100% del círculo */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el círculo sin distorsión */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.profile-image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del círculo */
  height: 100%; /* Ajusta la altura de la imagen al 100% del círculo */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el círculo sin distorsión */
  border-radius: 50%; /* Hace que la imagen sea circular */
}
.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.card-content {
  border-radius: 25px;
  width: 350px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.card-content img,
.card-content video {
  width: 350px;
  height: 250px;
}


