.profile-image-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: auto;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.card-content {
  border-radius: 25px;
  width: 350px;
  height: 300px;
}
.card-content img,
.card-content video {
  border-radius: 25px;
  width: 350px;
  height: 250px;
}
