<!-- comments.component.html -->
<div style="display: flex; justify-content: center;">
  <mat-card>
    <div class="center-content">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Preguntas de la clase del dia de hoy</mat-list-item>
        </mat-list>

        <mat-list>
          <mat-list-item *ngFor="let comment of comments" [class]="commentItemClass">
            <div class="circle"></div>
            <div class="comment-text"><p>{{ comment }}</p></div>
          </mat-list-item>
        </mat-list>

        <mat-form-field class="custom-input">
          <mat-label>Add a comment</mat-label>
          <input matInput [(ngModel)]="newComment" placeholder="Añadir un comentario">
        </mat-form-field>
        <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="addComment()">Comentar</button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
