<br>
<div class="carousel-container">
  <button mat-fab color="primary" class="mat-icon-button left" (click)="desplazarIzquierda()" *ngIf="mostrarFlechaIzquierda">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-fab color="primary" class="mat-icon-button right" (click)="desplazarDerecha()" *ngIf="mostrarFlechaDerecha">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <div #slider class='slider'>
    <ng-container *ngFor="let item of caruselItem; let i = index">
      <div class="image-container">
        <img [src]="item.imageSrc" />
        <mat-card class="overlay-card">
          <h1 class="heading-serif">{{item.title}}</h1>
          <p>{{item.subtitle}}</p>
          <p>{{item.content}}</p>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>

<br>
<br>
<br>
<div>
  <h1 class="carousel-title">Mas populares del mes</h1>
</div>
<app-base-carusel [images]="images"></app-base-carusel>
<br>
<br>
<br>
<div>
  <h1 class="carousel-title">Recomendaciones para ti</h1>
</div>
<app-base-carusel [images]="images"></app-base-carusel>




