<br>
<style>
  video {
    width: 100%;
    height: 500px;
    /* Cambia esto al alto que desees */
    object-fit: contain;
  }
</style>
<div >
  <button *ngIf="sub!=false" mat-raised-button color="primary" style="margin-right: 20px; margin-left: auto;" (click)="cambiar()">Suscribirme</button>
  <br>
  <video controls>
    <source [src]="video" type="video/mp4">
    <source [src]="" type="video/webm">
  </video>
</div>
<br>
<div class="center-content">
  <mat-tab-group class="mat-tab-group">
    <mat-tab label="Contenido del curso">
      <br>
      <div class="center-content">
        <mat-card class="card-content">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Primer Modulo
                </mat-panel-title>
                <mat-panel-description>
                  INtroduccion, dando los primeros pasos como un bebè
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Introduccion del modulo</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Que aprenderas en este curso?</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Motivandonos a continuar por mas</mat-checkbox>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
      <div class="center-content">
        <mat-card class="card-content">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Segundo Modulo
                </mat-panel-title>
                <mat-panel-description>
                  Convirtiendonos en maestros de los demas
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Repaso del anterior curso</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Prueba periodica del mòdulo</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Avanzando por mas saber y conocimiento</mat-checkbox>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
      <div class="center-content">
        <mat-card class="card-content">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tercer Modulo
                </mat-panel-title>
                <mat-panel-description>
                  Que aprenderemos juntos de este bello mundo?
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Especializacion para ser mejores que antes</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Avanza sin detenerte</mat-checkbox>
              </div>
              <div class="align-left-checkbox">
                <mat-checkbox color="primary">Gracias por llegar hasta el final</mat-checkbox>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Foro de discusion">
      <br>
      <app-comentarios></app-comentarios>
      <br>
    </mat-tab>
    <mat-tab label="Formularios">
      <br>
      <app-formularios></app-formularios>
      <br>
    </mat-tab>
  </mat-tab-group>
  <br>
</div>
