<mat-card>
  <br>
  <mat-card-content class="content"><h1>Cabecera del Formulario</h1></mat-card-content>
  <br>
  <mat-card-content class="content">Es la primera vez que realiza un curso en linea?</mat-card-content>
  <mat-card-content class="content">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Si</mat-radio-button>
      <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>

  <mat-card-content class="content">Esta siendo de su agrado el curso?</mat-card-content>
  <mat-card-content class="content">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Si</mat-radio-button>
      <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>

  <mat-card-content class="content">Recomendarias este cursos a un amigo?</mat-card-content>
<mat-card-content class="content">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Si</mat-radio-button>
    <mat-radio-button value="2">No</mat-radio-button>
  </mat-radio-group>
</mat-card-content>

<mat-card-content class="content">El maestro da clases de una manera agradable?</mat-card-content>
<mat-card-content class="content">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Si</mat-radio-button>
    <mat-radio-button value="2">No</mat-radio-button>
  </mat-radio-group>
</mat-card-content>

<mat-card-content class="content">Alguna cosa que debemos de mejorar?</mat-card-content>
<mat-card-content class="content">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Si</mat-radio-button>
    <mat-radio-button value="2">No</mat-radio-button>
  </mat-radio-group>
</mat-card-content>
</mat-card>


